
{% load static %}

<!-- ======== FOOTER Begins ========= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2022 Cloth </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2"> help@cloth.co.uk </span>
				<span  class="px-2"> 01582 271610</span>
				<span  class="px-2"> Vicarage Street, Luton, LU1 3JU </span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ======== End of Footer // ======= -->
